html,
body {
    padding: 0;
    /* padding-top: 30px; */
    margin: 0;
 }

.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-) */

    display: flex;
    align-items: center;
}

.login-container {
    padding: 25px;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.login-container h1 {
    font-size: 70px;
    color: #0984e3;
}

.login-container h5 {
    font-size: 30px;
    color: #6c6c6c;
}

.login-container p {
    margin-top: 60px;
    font-size: 25px;
    color: #0984e3;
}

#userBtn {
    margin: 10px 10px 0 0;
    width: 112.32px;
    background-color: #0984e3;
    color: #fff;
    border-radius: 0px;
    border: none;
}

#userBtn:hover {
    background-color: #0560a6;
}

#businessBtn {
    margin: 10px 0 0 10px;
    width: 112.32px;
    background-color: #0984e3;
    color: #fff;
    border-radius: 0px;
    border: none;
}

#businessBtn:hover {
    background-color: #0560a6;
}

#userNameInput {
    margin-right: 5px;
    padding-left: 15px;
    width: 250px;
    height: 46.5px;
    position: relative;
    bottom: 1.2px;
    border-radius: 0px;
    border: none;
    color: #6c6c6c;
    font-size: 20px;
    background-color: #e6e6e6;
}

#userLoginBtn {
    margin-left: 5px;
    margin: 10px 10px 0 0;
    width: 112.32px;
    background-color: #0984e3;
    color: #fff;
    border-radius: 0px;
    border: none;
}

#userLoginBtn:hover {
    background-color: #0560a6;
}

#businessNameInput {
    margin-right: 5px;
    padding-left: 15px;
    width: 250px;
    height: 46px;
    position: relative;
    border-radius: 0px;
    border: none;
    color: #6c6c6c;
    font-size: 20px;
    background-color: #e6e6e6;
}

#businessLoginBtn {
    margin-left: 5px;
    margin: 10px 10px 0 0;
    width: 112.32px;
    background-color: #0984e3;
    color: #fff;
    border-radius: 0px;
    border: none; 
}

#businessLoginBtn:hover {
    background-color: #0560a6;
}

#createCouponBtn {
    position: fixed;
    bottom: 25px;
    right: 25px;
    height: 60px;
    width: 60px;
    background-color: #0984e3;
    border: none;
    border-radius: 100%;
    color: #fff;
}

.plus-icon {
    right: 0.5px;
    font-size: 25px;
    position: relative;
    top: 3px;
}

.coupon-container {
    margin-top: 100px;
    padding-left: 100px;
    padding-right: 100px;
}

#nameGreeting {
    text-align: center;
    color: #0984e3;
}

#amountOfCoupons {
    margin-bottom: 25px;
    text-align: center;
    color: #0984e3;
}

.coupon-card {
    padding: 25px;
    margin: auto;
    margin-bottom: 30px;
    height: auto;
    width: 510px;
    background-color: #0984e3;
    color: #fff;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#editCouponBtn {
    width: 165px;
    margin-right: 10px;
    background-color: #fff;
    border: none;
    border-radius: 0px;
    color: #0984e3;
}

#deleteCouponBtn {
    width: 165px;
    margin-left: 10px;
    background-color: #fff;
    border: none;
    border-radius: 0px;
    color: #0984e3;
}

#like-btn {
    width: 60px;
    margin-left: 10px;
    background-color: #fff;
    border: none;
    border-radius: 0px;
    color: #0984e3;
}

.new-coupon-container h1 {
    text-align: center;
    color: #0984e3;
}

#couponNameInput {
    margin-top: 25px;
    display: block;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    height: 46px;
    position: relative;
    border-radius: 0px;
    border: none;
    color: #6c6c6c;
    font-size: 20px;
    background-color: #e6e6e6;
}

#couponCodeInput {
    margin-top: 25px;
    display: block;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    height: 46px;
    position: relative;
    border-radius: 0px;
    border: none;
    color: #6c6c6c;
    font-size: 20px;
    background-color: #e6e6e6;
}

#couponExpDateInput {
    margin-top: 25px;
    display: block;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    height: 46px;
    position: relative;
    border-radius: 0px;
    border: none;
    color: #6c6c6c;
    font-size: 20px;
    background-color: #e6e6e6;
}

#postCouponBtn {
    width: 100%;
    margin-top: 25px;
    margin-right: 10px;
    background-color: #0984e3;
    border: none;
    border-radius: 0px;
    color: #fff;
}

#searchInput {
    margin-right: 5px;
    padding-left: 15px;
    width: 250px;
    height: 28px;
    position: relative;
    border-radius: 0px;
    border: none;
    color: #6c6c6c;
    font-size: 20px;
    background-color: #e6e6e6;
}
  
#searchBtn {
    background-color: #0984e3;
    color: #fff;
    border-radius: 0px;
    border: none; 
}
  
#sortBtn {
    background-color: #0984e3;
    color: #fff;
    border-radius: 0px;
    border: none;
} 

.edit-coupon-container h1 {
    text-align: center;
    color: #0984e3;
}

#editCouponNameInput {
    margin-top: 25px;
    display: block;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    height: 46px;
    position: relative;
    border-radius: 0px;
    border: none;
    color: #6c6c6c;
    font-size: 20px;
    background-color: #e6e6e6;
}

#editCouponCodeInput {
    margin-top: 25px;
    display: block;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    height: 46px;
    position: relative;
    border-radius: 0px;
    border: none;
    color: #6c6c6c;
    font-size: 20px;
    background-color: #e6e6e6;
}

#editCouponExpDateInput {
    margin-top: 25px;
    display: block;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    height: 46px;
    position: relative;
    border-radius: 0px;
    border: none;
    color: #6c6c6c;
    font-size: 20px;
    background-color: #e6e6e6;
}

#updateCouponBtn {
    width: 100%;
    margin-top: 25px;
    margin-right: 10px;
    background-color: #0984e3;
    border: none;
    border-radius: 0px;
    color: #fff;
}